// =============================================================================
// Font Sizes and Leading
// =============================================================================
$font-size-base        : 16px;

// =============================================================================
// Grid Sizes
// =============================================================================
$grid-column       : 3.75 * $font-size-base;      // 60px
$grid-gutter       : $grid-column / 3;            // 20px
$grid-gutter-split : $grid-gutter / 2;            // 10px
$grid-gutter-full  : $grid-column + $grid-gutter; // 80px
$grid-leading      : 1.5 * $font-size-base;       // 24px

// =============================================================================
// Responsive Breakpoints
// =============================================================================
$width-small  : 400px;
$width-medium : 840px;
$width-large  : 1280px;

// =============================================================================
// Project-Specific Variables
// =============================================================================
$border-sides       : 1px solid #ddd;
$width-floating     : 440px;
$height-input-boxes : 40px;
$color-background   : rgba(0,0,0,.5);
