html {
   padding: 0;
   margin: 0;
   background: $color-background url("../img/04-lincolns-catafalque-us-capitol-670.jpg") no-repeat center center fixed;
   background-size: cover;
}

body {
   font: 1.1em / 1.45 "Hind", sans-serif;
   font-size: 1.1em;
   color: white;
   width: 960px;
   margin: 0 auto;
   padding: 0;
}

header {
   position: relative;
   padding: 0;
   margin: 0;
}

abbr {
   cursor: help;
   border-bottom: 1px dotted white;
}

main {
   background-color: $color-background;
   padding: 25px;
   display: none;
   opacity: 0;
   transition: 2s;

   p {
      margin: 0 0 25px;
   }

   &.transition {
      opacity: 1;
   }
   section {
      display: none;
      margin: 20px 0;

      &>div {
         display: table-cell;
         width: 590px;

         select {
            margin: 10px 10px 10px 0;
         }
      }

      &>aside {
         display: table-cell;
         text-align: right;
         opacity: 0;
         width: 370px;
         transition: 250ms;

         &.transition {
            opacity: 1;
         }
      }

      &>button {
         opacity: 0;
         display: none;
         float: right;
         width: 100px;
         transition: 250ms;

         &.transition {
            opacity: 1;
         }
      }
   }
}
